@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: rgb(243, 247, 248);
  background: linear-gradient(
    135deg,
    rgba(243, 247, 248, 1) 0%,
    rgba(200, 244, 255, 1) 100%
  );
  color: #eee;
  height: 100vh;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.form {
  border-radius: 2rem;
  padding: 2rem;
  width: 80vw;
  max-width: 500px;
}

.form-header {
  color: #eee;
  text-align: center;
  margin-bottom: 2rem;
}

.form-header h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-header p {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.field {
  background: rgba(32, 40, 71, 0.9);
  border: none;
  border-radius: 0.5rem;
  color: #eee;
  padding-left: 1rem;
  display: block;
  height: 3rem;
  width: 100%;
  max-width: 20rem;
  margin: auto;
  margin-bottom: 1rem;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.field:focus {
  box-shadow: inset 0px -8px 30px 2px #1a213a;
}

.field::placeholder {
  color: #546484;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  display: block;
  padding: 0.7rem 3rem;
  cursor: pointer;
}

.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
}
